source/**/*.js
source/**/*.js.map
node_modules
jspm_packages
bower_components
aot/*

!/dist/
/dist/*
!/dist/iekserver/
/dist/iekserver/*
!/dist/iekserver/themes/
!/dist/iekserver/modules/
/dist/iekserver/modules/*
!/dist/iekserver/modules/custom/
!/dist/iekserver/modules/ready/

